*{
    margin: 0;
    padding: 0;
}

.header-area{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5%;
}

.header-area h1{
    margin-left: 10%;
}

.new-lead-form{
    display: flex;
    justify-content: space-between;
}

.input-area input{
    width: 250px;
}

.opportunity-area{
    margin-right: 5%;
    width: 30%;
}

