*{
    margin: 0;
    padding: 0;
}

.container-new-leads{
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    margin: 20px;
    padding-bottom: 20%;
}

.header-area{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5%;
}

.header-area h1{
    margin-left: 10%;
}

.header-new-lead{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 7px;
    background: #15252e;
    padding: 10px;
    color: #FFFF;
    font-size: 25px;
    text-align: center;
    margin-left: 5%;
}

.new-lead-form{
    display: flex;
    justify-content: space-between;
}

.input-area{
    margin-left: 5%;
}
.input-area input{
    width: 250px;
}

.opportunity-area{
    margin-right: 5%;
}

.save-button{
    background: #0664D3 ;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
}

.save-button:hover{
    background: #0666d3f3
}

.error{
    color: #FF0000;
}

.checkbox {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
