.container-input{
    display: flex;
    flex-direction: column;
}

input{
    height: 20px;
    padding: 5px;
    font-size: 16px;
}

.validation-error{
    color: #FF0000;
    margin-top: 5px;
    margin-bottom: 5px;
}